---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import { SITE_TITLE } from "../../consts";

const items = (await getCollection("work")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Base
    title={`${SITE_TITLE} — Work`}
    description={`Case studies by ${SITE_TITLE}`}
>
    <section>
        <h1>Work</h1>
        <ul class="card-grid">
            {
                items.map((it) => (
                    <li class="card">
                        <h2>
                            <a href={`/work/${it.id}/`}>{it.data.title}</a>
                        </h2>
                        <p>{it.data.summary}</p>
                    </li>
                ))
            }
        </ul>
    </section>
</Base>

