---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import { SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Base
    title={`${SITE_TITLE} — Writing`}
    description={`Writing by ${SITE_TITLE}`}
>
    <section>
        <h1>Writing</h1>
        <ul class="card-grid">
            {
                posts.map((post) => (
                    <li class="card">
                        <h2>
                            <a href={`/writing/${post.id}/`}>{post.data.title}</a>
                        </h2>
                        <p>{post.data.description}</p>
                    </li>
                ))
            }
        </ul>
    </section>
</Base>

